.Controls {
  display: grid;
  justify-content: flex-end;
  padding: 20px;
  grid-template-columns: 9fr 5fr 2fr;
}

.Controls:nth-child(2){
  text-align: right;
}

.Cart-stats{
  padding: 20px 10px;
  width: 12%;
  font-weight: bold;
}